<mat-tab-group>
  <mat-tab label="Players">
    <ng-template matTabContent>

        <table style="width:100%">
            <tr>
              <th>Name</th>
              
              <th>Team</th> 
              
              <th>Game Preferences</th>
            </tr>
            <tr>
              <td align="center">Fjorpa</td>
              <td align="center">BicaSquad</td> 
              <td align="center">Chessito</td>
            </tr>
            <tr>
              <td align="center">Ralc</td>
              <td align="center">BicaSquad</td> 
              <td align="center">AutoChess</td>
            </tr>
          </table>
          
      <button type="button" (click)="openCreate()">Create Player </button>
    </ng-template>
  </mat-tab>
  <mat-tab label="Leaderboard">
    <ng-template matTabContent>
      <p>Lol</p>
    </ng-template>
  </mat-tab>
  <mat-tab label="Team">
    <ng-template matTabContent>
      <p>I like trains</p>
    </ng-template>
  </mat-tab>
</mat-tab-group>

<script>
  

</script>
